#long{
    display:block;
    float:right;
    height:100%;
    width:25%;
    margin-top:2%;
    position: relative;
    display:none;
    cursor:pointer;
}


#long  span{
    float: left;
    width:100%;
    min-height:8px;
    max-height:18px;
    margin:6% 0;
    background-color:#CFFCFF;
    display:block;
    box-shadow:2px 2px 2px #000,2px 2px 10px rgba(0,0,0,0.5),2px 5px 15px rgba(0,0,0,0.4);
}